// Defining colors used in the site

$white: #ffffff;
$black: #000000;
$grey: #777;

$text-color: #31353d;
$hover-color: #21B7E9;
$border-color: #d8d8da;
$a-color: #4d5057;
$footer-background: #c0c1c3;
$border-bottom-color: #1BBAF0;
