body {
    font-family: $body-font-family;
    color: #777;
}
a {
    color: inherit;
    text-decoration: none;
}

#main{
  @include bg-basic;
}

h2{
  @include heading2;
}

h6{
  @include heading6;
  a:hover{
    color:$hover-color;
  }
}

.archive{
      .view-content{
          li{
              list-style-type: none;
            a{
              background: url(../images/star-3.png) 0 6px no-repeat;
              padding-left: 20px;
            }
            a:hover{
              color: $hover-color;
            }
          }
  }
}

.blogs-list,
#content .node{
    img{
      box-sizing: border-box;
      height: 245px;
      max-width: 100%;
      padding-top: 1%;
      @include breakpoint($mobile){
        width: 100%;
      }
      @include breakpoint($tablet){
        width: 45%;
        height: 235px;
        float: left;
        padding-right: 4%;
      }
      @include breakpoint($desktop){
        width: 40%;
        height: 249px;
        float: left;
        padding-right: 4%;
      }
    }
  }

.blogs-list{
    .views-field.views-field-name,
    .views-field.views-field-created,
    .views-field.views-field-comment-count{
        @include breakpoint($mobile){
                display: block;
                margin-top: 2%;
                border-bottom: 1px solid #777;
                border-bottom-width: 0.2px;
            }
        @include breakpoint($tablet){
            display:inline;
            border-bottom:none;
        }
    }
}

.blogs-list, #content .node{
  .submitted{
    display:none;
  }
  .field.field-name-field-blog-categories.field-type-taxonomy-term-reference.field-label-above{
    display:none;
  }
}


.blogs-list p{
    @include para-bloglist;
  }

.blogs-list,
#content .node{
  .node-readmore,
  .blog_usernames_blog,
  .comment-add,
  .comment_forbidden{
       a{
        @include button_style($a-color, $white);
      }
      a:hover{
        @include button_style($hover-color,$white);
      }
    }
}

.blogs-list{
       .inline {
          display: block;
          padding: 0;
          clear: both;
          padding-top: 5%;
        }
}

.inline{
    display: block;
    padding: 0;
    clear: both;
    padding-top: 5%;
        @include breakpoint($mobile){
          padding-left: 6%;
        }
        @include breakpoint($tablet){
          padding-left: 0%;
        }
    }

.blogs-list, .blog-node{
     li{
      display: inline-block;
    }
  }

.blogs-list{
  .views-field.views-field-created:before{
    @include font_icon($date-font-code);
  }
  .views-field.views-field-name:before{
    @include font_icon($user-font-code);
  }
  .views-field.views-field-comment-count:before{
    @include font_icon($comment-font-code);
  }
}

.blog-node, #content .node{
    p{
      margin-bottom: 22px;
      margin: 0 0 15px;
      line-height: 21px;
      font:$body-font-family;
  }
}

.blog-node,
#content .node{
  .field-label-inline{
      .field-label{
        display:none;
      }
      .field-items:before{
        @include font_icon($tag-code);
      }
  }
}

#content .node{
  li{
    list-style-type:none;
    display : inline;
  }
}

.blog-node,
#content .node{
  .username:before{
    @include font_icon($user-font-code);
  }
  time:before{
    @include font_icon($date-font-code);
  }
}

.blog-node{
  img{
    width:100%;
    height: 285px;
  }
  .blog_usernames_blog,
  .comment_forbidden{
    a{
        @include button_style($a-color, $white);
        @include breakpoint($mobile){
          margin-left: -10%;
        }
        @include breakpoint($tablet){
          margin-left: 0%;
        }
    }
    a:hover{
      @include button_style($hover-color,$white);
    }
  }
}

.blog-node,
#content .node{
  p.submitted{
    margin-top: 5%;
    .username, time{
      @include breakpoint($mobile){
        line-height: 21px;
        display:block;
        border-bottom: 1px solid #777;
        border-bottom-width: 0.2px;
      }
      @include breakpoint($tablet){
        display:inline;
        border-bottom:none;
      }
    }
  }
}

.categories .views-row {
    padding-bottom: 20px;
    text-transform: capitalize;
    background: url(../images/star-3.png) 0 6px no-repeat;
    padding-left: 20px;
    a:hover{
      color: $hover-color;
    }
}

.faq {
    a{
      color: $text-color;
      text-transform: uppercase;
      font: 400 14px/20px $body-font-family;
      margin-bottom: 10px;
      text-decoration: none;
    }
    a:hover{
      color: $hover-color;
    }
    p{
      margin-top: 2%;
      margin-bottom: 2%;
      line-height: 150%;
      font: $body-font-family;
    }
}

.field-name-field-faq-question{
  font-weight : 600;
}

.pager-item,
.pager-next,
.pager-last,
.pager-first,
.pager-previous {
  @include button_style($a-color, $white);
}

.pager-item:hover,
.pager-next:hover,
.pager-last:hover,
.pager-first:hover,
.pager-previous:hover {
    @include button_style($hover-color,$white);
}

.pager-current {
  @include button_style($hover-color,$white);
}


.poll{
  .submitted{
    display:none;
  }
  .poll-message{
    display:none;
  }
}

.poll{
    .node-title {
    margin-bottom: 15px;
    font-size: larger;
    color: $grey;
  }
  a:hover{
    color: $hover-color;
  }
}

.poll{
  .bar{
    .foreground {
      background-color: $hover-color;
      height: 16px;
      float: left;
      border-color: $grey;
  }
 }
}

.poll{
  ul{
    list-style-type: none;
  }
  .comment_forbidden a,input[type="submit"]{
    @include button_style($a-color, $white);
    @include breakpoint($mobile){
      margin-right: 0%;
    }
    @include breakpoint($tablet){
      margin-right: -12%;
      display: block;
    }
    @include breakpoint($tablet){
      margin-right: 18%;
      display: block;
    }
  }
}

.poll{
  .comment_forbidden a:hover,input[type="submit"]:hover{
    @include button_style($hover-color,$white);
  }
}

.poll .bar {
    background-color: $white;
    border: 1px solid $border-color;
    height: 20px;
    margin-bottom: 15px;
    padding: 1px;
}


// li.category-1.isotope-element,
// li.category-2.isotope-element,
// li.category-3.isotope-element {
//     float: left;
//     width: 25%;
//     position: relative;
//     display: table;
//     overflow: hidden;
// }
#isotope-options #filters{
    li {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 0;
        background: none;
    }
}

.port-head{
      ul{
        list-style: none;
        display: -webkit-box;
        padding-bottom: 3%;
        padding-left: 46%;
      }
      li{
          margin-right:3px;
          a{
            @include button_style($a-color, $white);
          }
          a:hover{
            @include button_style($hover-color,$white);
          }
      }
}

.porto .views-more-link{
      /*display: -webkit-box;*/
      display: table;
      margin-top: 3%;
      margin-bottom: 3%;

}

/*.porto{
  .view-content{
    .item-list{
      @include breakpoint($mobile){
        padding-left: 6%;
      }
      @include breakpoint($tablet){
        padding-left: 6%;
      }
      @include breakpoint($desktop){
        padding-left: 0%;
      }
    }
  }
}*/

.porto .views-more-link{
      /*display: -webkit-box;*/
      display: table;
      margin-top: 3%;
      margin-bottom: 3%;

}


.porto{
    .views-field.views-field-title{
        padding-bottom: 2%;
        padding-top: 2%;
        .field-content{
            color: $text-color;
            text-transform: uppercase;
            font: 400 12px/20px $body-font-family;
            margin-bottom: 10px;
            font-size: 91%;
            margin-top: 5%;
            padding-bottom: 2%;
            padding-top: 2%;
        }
        .field-content:hover{
            color: $hover-color;
            text-transform: uppercase;
            font: 400 12px/20px $body-font-family;
            margin-bottom: 10px;
            font-size: 91%;
            margin-top: 5%;
        }
    }
}

.view-portfolio-page{
  ul.isotope-container{
    @include container;
    padding-left: 0;
    li.isotope-element{
      margin:0 0 0.25em 0;
      width:31%;
      margin-right:2%;
      list-style: none;
      &:nth-child(3n+2){
        margin-right:0;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.pager {
    clear: both;
    padding-top: 6%;
    margin-left: -40%;
    text-align: center;
}

#sponsors{
  .views-label-field-company-logo{
    display:none;
  }
}

.testimonial{
    .field-content{
        img{
          float:left;
          padding-right: 5%;
          @include breakpoint($mobile){
            width:40%;
          }
          @include breakpoint($tablet){
            width:30%;
          }
          @include breakpoint($desktop){
            width:23%;
          }
        }
        p:hover{
          color: $hover-color;
        }
    }
    .views-row {
        clear: both;
        min-height: 180px;
        width: 100%;
        padding-left: 0%;
    }
    .views-field.views-field-field-author-name,
    .views-field.views-field-field-relation{
      float: right;
      clear: inherit;
    }
    p{
      padding-top:1%;
    }
}


@include breakpoint($mobile){
  .blogs-list{
            p {
                display: block;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                padding-left: 0%;
                width: 100%;
                line-height: 25px;
                padding-bottom: 0%;
            }
             .inline {
              list-style-type: none;
              padding: 0 1em 0 0;
              display: block;
              margin-top: 2%;
              padding-top: 0%;
            }

            .pager {
                padding-left: 35%;
            }
    }

  }
@include breakpoint($tablet){}
