img{
  padding-top: 3%;
  padding-bottom: 3%;
}

.node{
  padding-left: 10%;
    padding-right: 10%;
}

#main{
  background: white;
}
.username:before{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f007";
    color: #21B7E9;
    font-size: smaller;
    margin-right: 1%;

   }

time:before{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f073";
    color: #21B7E9;
    font-size: smaller;
    margin-right: 1%;
  }

.node-readmore a,
.blog_usernames_blog a,
.comment-add a,
.comment_forbidden a {
    background: #4d5057;
    padding: 8px;
    border-radius: 13px;
    border: none;
    border-radius: 21px;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font: 400 19px/22px 'Adamina', serif;
    outline: none;
    padding: 9px 28px 13px;
    text-decoration: none;
    text-transform: lowercase;
}

.node-readmore a:hover,
.blog_usernames_blog a:hover,
.comment-add a:hover,
.comment_forbidden a:hover {
    background-color: #21B7E9;
    color: #fff;
}

p{
  padding-bottom: 1%;
    padding-top: 1%;
}

.field.field-name-field-faq-question.field-type-text.field-label-hidden{
  font-size: large;
    font-weight: 600;
}

a:hover{
  color: #21B7E9;
}

.comment-form{
  padding-left: 10%;
    padding-right: 35%;
}

#comments{
  margin-left: -10%;
}
.taxonomy-term-description {
    margin: 5px 0 20px;
    padding-left: 10%;
    text-transform: capitalize;
}

.node-advpoll{
  padding-left: 10%;
    padding-right: 40%;
}
@media screen and (min-width: 320px) and (max-width: 640px) {

  .node-readmore a, .blog_usernames_blog a, .comment-add a, .comment_forbidden a{
    margin-top:2%;
  }

   p.submitted .username,
   p.submitted time{
  /*margin: 0 0 15px;*/
    line-height: 21px;
    display:block;
    border-bottom: 1px solid #777;
    border-bottom-width: 0.2px;
  }

  .username:before,
   time:before{
    margin-right: 2%;
  }

}
