@import "susy";

$susy: (
 flow: ltr,
 math: fluid,
 output: float,
 gutter-position: after,
 container: 1200px,
 container-position: center,
 columns: 16,/* number of columns */
 gutters: .25, /* gutter size */
 column-width: false,
 global-box-sizing: content-box,
 last-flow: to
);
/* Makes border-box properties */
@include border-box-sizing;


.panels-flexible{
  &-column{
    @include container;
    &-first{
      @include breakpoint($mobile) {
        @include span(16);
      }
      @include breakpoint($tablet) {
        @include span(12);
      }
    }
    &-last {
      @include breakpoint($mobile) {
        @include span(16);
      }
      @include breakpoint($tablet) {
        @include span(4 last);
      }
    }
  }
}
.front #main{
    background:none;
}
.front #content {
  max-width: 100%;
  background:none;
  .panel-col-{
    &top,
    &bottom{
      .sponsors{
        @include container;
      }
    }
    &middle{
      .inside {
        @include container;

      }
    }
  }
  .panel-display > .center-wrapper {
    @include container;
  }
}

#main{
  background:$white;
}
#content {


  background:$white;

  @include breakpoint($mobile){
     @include container(96%);
  }
  @include breakpoint($tablet){
     @include container(96 %);
  }
  @include breakpoint($desktop){
     @include container(80%);
  }

}
